.kanban-warp {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  min-height: 55px;
  display: flex;
}

.kanban-left {
  width: 300px;
  min-height: 55px;
}

.kanban-content {
  min-height: 55px;
  flex: 1;
  padding-left: 30px;
}

.my-integral-warp {
  width: 300px;
  height: 55px;
  line-height: 55px;

  display: flex;
  background-color: #e9edfa;

  .my-integral-label {
    font-weight: 700;
    width: 100px;
    text-indent: 20px;
  }

  .my-integral {
    color: #edab2d;
    flex: 1;
    * {
      font-size: 16px;
    }
    span {
      margin-left: 10px;
    }
  }
}

.menu-item {
  &.active {
    font-weight: 700;
    background-color: #fff;
    i {
      color: #5e7ce0;
    }
  }
  i {
    display: inline;
    margin-right: 10px;
  }
}

.kanban-header {
  display: flex;
  justify-content: space-between;
  .user-name {
    line-height: 55px;
    font-size: 32px;
    font-weight: 700;
  }
}

.search-create {
  line-height: 55px;
  d-search {
    margin-right: 20px;
  }
}

.system-group {
  margin-top: 20px;
  text-indent: 20px;
}

.create-group-item {
  margin-top: 20px;
  text-indent: 10px;
  font-size: 12px;
  &:hover {
    color: #526ecc;
  }
  i {
    margin-right: 5px;
  }
}

.my-group-title {
  line-height: 50px;
  margin-top: 20px;
  text-indent: 20px;
}

.system-group,
.my-group {
  text-indent: 40px;
  li {
    line-height: 50px;
  }
}

::ng-deep .devui-nav-tabs:not(.devui-nav-stacked) {
  border-bottom: none !important;
}

.kanban-menu-title {
  display: flex;
  height: 50px;
  line-height: 50px;
  justify-content: space-between;
}

.group-name {
  font-size: 18px;
  font-weight: 600;
}

.filter-btns {
  position: relative;
  & > span {
    display: inline-block;
    width: 30px;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    border-right: 1px solid #adb0b8;
    &:last-child {
      border-right: none;
    }
    &.change-view-btn {
      &.active {
        color: #526ecc;
      }
      &:hover {
        color: #526ecc;
      }
    }
  }
}

.sort {
  i:hover {
    color: #526ecc;
  }
}

.sort-project {
  width: 160px;
  position: absolute;
  top: 30px;
  left: -120px;
  background-color: #fff;
  padding: 10px 0;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 rgba(81, 112, 225, 0.2);

  li {
    line-height: 30px;
    &:hover {
      background-color: #e9edfa;
    }
    &.active {
      background-color: #e9edfa;
    }
  }
}

.sort-criteria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 20px;
}
